[Unit]
Description=PisoWiFi captive LAN address and forwarding
After=network-pre.target
Before=dnsmasq.service nginx.service pisowifi-backend.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/ip link set dev {lan_interface} up
ExecStart=/usr/sbin/ip address replace {gateway_ip}/{gateway_prefix} dev {lan_interface}
ExecStart=/usr/sbin/sysctl -w net.ipv4.ip_forward=1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
